.Button-CloseTab
{
    position: relative;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    line-height: 30px;

    display: inline-block;

    background-image: url('./images/Button-CloseTab-Def.png');
    background-size: cover;
    /* transition: 0.1s; */
}
.Button-CloseTab-Unsaved
{
    top: 9px;
    left: 10px;
    width: 7px;
    height: 7px;
    border: 2px solid #7E7D7D;
    border-radius: 10px;
    background-image: none;
}
.Button-CloseTab-Unsaved:hover
{
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url('./images/Button-CloseTab-Sel.png');
}
.Button-CloseTab:hover
{
    background-image: url('./images/Button-CloseTab-Sel.png');    
}

.Button-ToggleFolder
{
    position: relative;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    line-height: 30px;

    display: inline-block;
    transition: 0.2s;

    background-image: url('./images/Button-ToggleFolder.png');
    background-size: cover;
}
/* .Button-ToggleFolder:first-child
{
    display: none;
} */

.Text-Tab
{
    position: absolute;
    left: 32px;
    top: 0px;
    height: 30px;
    width: auto;
    vertical-align: middle;
    line-height: 30px;
}
.Tab-Fixed
{
    position: relative;
    top:10px;
    width: 198px;
    height: 30px;

    text-transform: uppercase;
    font-family: TitleFont;
    font-size: 17pt;
    margin: 2px;

    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}

.Tab-ProjectFolder
{
    position: relative;
    top:0px;
    width: auto;
    height: 30px;

    line-height: 30px;
    font-family: DirectoryFont;
    
    display: block;
    cursor: pointer;
}
.Tab-WorkingFile
{
    position: relative;
    top:0px;
    width: auto;
    height: 30px;

    line-height: 30px;
    font-family: DirectoryFont;    
    
    display: block;
    cursor: pointer;
}
.Tab-File
{
    position: relative;
    top:0px;
    width: auto;
    height: 30px;

    line-height: 30px;
    font-family: DirectoryFont;    
    
    display: block;
    cursor: pointer;
}
.Tab-Temp {
    position: relative;
    left: 25px;
    width: 200px;
}
.Tab-Temp input {
    font-size:12pt;
    background-color: rgb(32,32,32);
    color: white;
    outline: none;
    border: none;
    font-family: Data;
}
.Tab-Folder
{
    position: relative;
    top:0px;
    width: auto;
    height: auto;

    line-height: 30px;
    font-family: DirectoryFont;    
    
    display: block;
    cursor: pointer;
}


div[class^="Tab-"]
{
    white-space: nowrap;
    overflow: hidden;
}
.TargetWrap
{
    position: relative;
    top:0px;
    left:0px;
    width: auto;
    height: 30px;
    padding: 2px;
    border-radius: 4px;
}
.TargetWrap:hover, .SelectedFolder
{
    background-color: rgb(32,32,32);
}
